{% load static %}
{% load compress %} 
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% progressive_web_app_meta %}
    {% compress css %}
    <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <style>
    .active {color: #0f0 } 
	</style>
  {% endcompress %} 
    <title>Django + React todolist test app</title>
  </head>
  <body>
    <div id="root"></div>
    {% compress js inline %}
    <script src="{% static 'main.js' %}"></script>
    {% endcompress %}
  </body>
</html>
